html, body {
  animation: colorchange 11s linear infinite;
  -webkit-animation: colorchange 11s linear infinite; /* Chrome and Safari */
  height: 100%;
  overflow-x: hidden; overflow-y: hidden;
}

#js-content {
  height: 100%;
  position: relative;
  overflow-x: hidden; overflow-y: hidden;
}

.floating-head {
  position: fixed;

  /*not selectable*/
  user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;
}

.floating-head:hover {
  cursor: pointer;
  -webkit-filter: none !important;
  filter: none !important;
}

@keyframes colorchange
{
  0%   {background: red;}
  16%  {background: yellow;}
  33%  {background: green;}
  66%  {background: blue;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  16%  {background: yellow;}
  33%  {background: green;}
  66%  {background: blue;}
  100% {background: red;}
}

.flipped {
  transform: scale(-1, 1);-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-khtml-transform: scale(-1, 1);-ms-transform: scale(-1, 1);
}

.flopped {
  transform: scale(1, -1);-moz-transform: scale(1, -1);-webkit-transform: scale(1, -1);-o-transform: scale(1, -1);-khtml-transform: scale(1, -1);-ms-transform: scale(1, -1);
}

.ro{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
